@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --brand: #3e72f9;
  --brand-second: #5e8cff;
  --brand-ternary: #6892fe94;
}

/* body {
  height: 4936px;
  position: relative;
} */

.icon-shape {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 30px rgb(0 0 0 / 0.2);
}

.skill-wrapper {
  width: 372px;
  height: auto;
}

.desk-wrapper {
  width: 372px;
  height: auto;
  padding: 20px;
  font-weight: 600;
}
.skill-ilustrations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-center {
  text-align: center;
}

.content-right {
  text-align: right;
}

.skills-contain {
  width: 100%;
  max-width: 72rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 221px auto 0 auto;
  gap: 6rem;
}

.skills-contain h1 {
  font-size: 48px;
}

.skill-wrap {
  width: 100%;
  display: flex;
}

.projects-card {
  width: 318px;
  height: 385px;
  border-radius: 16px 16px 0 0;
  overflow-y: hidden;
  box-shadow: 0 4px 30px #00000014;
  flex: 0 0 25%;
}
.projects-card p {
  line-height: normal;
  font-size: 13px;
}
.projects-card a {
  color: var(--brand);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.project-image-box {
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #bcd1ff, #89aeff);
}

.content-project {
  width: 100%;
  max-width: 90%;
  height: auto;
  margin-left: 17px;
  line-height: 2.7rem;
}

.projects-section {
  margin: 250px auto 0 auto;
  width: 100%;
  max-width: 72rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.title {
  font-size: 48px;
  text-align: center;
}

.projects-contain {
  width: 100%;
  max-width: 72rem;
  height: 840px;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 70px 8rem;
  align-items: center;
  flex-wrap: wrap;
}

.tech-stack-label {
  width: 128px;
  background-color: #ebeaea;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 5px;
  margin-bottom: 10px;
}

.tech-stack {
  width: 150px;
  height: 59px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  gap: 11px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.118);
  background-color: white;
  z-index: 40;
  position: absolute;
}

.next-js {
  top: 18%;
  left: -5%;
  animation: tech-stack 5s linear infinite;
  -webkit-animation: tech-stack 4s linear infinite;
}
.mongodb {
  bottom: 18%;
  left: -5%;
  animation: tech-stack 3s linear infinite;
  -webkit-animation: tech-stack 3s linear infinite;
}
.node-js {
  top: 26%;
  right: -5%;
  animation: tech-stack 7s linear infinite;
  -webkit-animation: tech-stack 7s linear infinite;
}
.golang {
  bottom: 3%;
  right: -5%;
  animation: tech-stack 5s linear infinite;
  -webkit-animation: tech-stack 2s linear infinite;
}

@keyframes tech-stack {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* Navigation bar */

.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  /* margin-bottom: 198px; */
  background-color: white;
  box-shadow: 0 2px 60px rgba(0, 0, 0, 0.099);
  z-index: 50;
}

.nav-menu-wrapper img:nth-child(2) {
  display: none;
}

.nav-menu-wrapper {
  width: 100%;
  max-width: 72rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0.5rem;
}

.nav-menu-dekstop,
.nav-menu-dekstop a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: all;
  transition-duration: 300ms;
}

.active {
  color: var(--brand) !important;
  font-weight: bold !important;
  transition: all;
  transition-duration: 500ms;
}

/* Main layouts */
.main-layouts {
  width: 100%;
  height: 100vh;
  margin: auto;
}

/* Content */
.hero {
  width: 100%;
  max-width: 72rem;
  height: 500px;
  margin: 14rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.identity {
  width: 100%;
  height: 500px;
  padding-top: 3rem;
}

.job-desk {
  line-height: 3rem;
}

.identity h1 {
  font-size: 48px;
  color: var(--brand);
  margin-top: 10px;
}
.identity span {
  font-size: 32px;
  font-weight: 600;
  color: #8e8989;
}

.simple-description {
  width: 100%;
  max-width: 479px;
  margin-top: 2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.button-wrapper {
  display: flex;
  gap: 10px;
}

.more {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--brand);
  border: none;
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;
}
.download-cv {
  width: 165px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--brand);
  color: var(--brand);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;
}

.more:hover {
  background-color: var(--brand-second);
}

.more:focus,
.download-cv:focus {
  box-shadow: 0 0 0 4px var(--brand-ternary);
}

.skill-image-box {
  height: 400px;
  position: relative;
}

.about-contain {
  width: 100%;
  height: 500px;
  background-color: #dde7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 290px;
}

.about-wrapper {
  width: 100%;
  max-width: 72rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-description {
  width: 100%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 560px;
  height: 220px;
  padding: 0.5rem;
  font-weight: 400;
}
.about-description h1 {
  font-size: 48px;
}

.contack-section {
  width: 100%;
  max-width: 72rem;
  height: 602px;
  margin: auto;
}

.contack-wrapper {
  width: 100%;
  max-width: 72rem;
  height: 602px;
  margin-top: 200px;
  display: flex;
  margin: 8rem auto 0 auto;
  align-items: center;
  flex-direction: column;
  gap: 121px;
}

.contack-wrapper h1 {
  font-size: 48px;
}

.identity-section {
  width: 100%;
  max-width: 72rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.identity-section input {
  width: 590px;
  border-radius: 5px;
  border: 1px solid var(--brand);
  transition: all;
  transition-duration: 500ms;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 20px;
}

.message-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-section textarea {
  transition: all;
  transition-duration: 500ms;
  width: 100%;
  /* max-width: 1200px; */
  height: 423px;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid var(--brand);
  border-radius: 5px;
  font-size: 20px;
}

.identity-section input::placeholder,
.message-section textarea::placeholder {
  font-size: 20px;
  font-weight: bold;
}

.identity-section input:focus,
.message-section textarea:focus {
  outline: 1px solid var(--brand-second);
  box-shadow: 0 0 0 4px var(--brand-ternary);
}

.send-message {
  width: 247px;
  height: 57px;
  font-size: 20px;
  margin-top: 2rem;
  background-color: var(--brand);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  transition: all;
  transition-duration: 500ms;
}

.send-message:focus {
  box-shadow: 0 0 0 5px var(--brand-ternary);
}

.footer {
  width: 100%;
  height: 230px;
  background-color: #d9ddf6;
  bottom: 0;
  position: absolute;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.wrapper-footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  font-size: 20px;
}

/* Mobile version */

.nav-mobile {
  background-color: white;
  inset: 0;
  position: fixed;
  z-index: 60;
  transition: all;
  transition-duration: 500ms;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.translate-x-full {
  transition: all;
  transition-duration: 500ms;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.translate-x-0 {
  transition: all;
  transition-duration: 500ms;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.links-wrap ul {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.links-wrap ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #262626;
}

@media only screen and (max-width: 900px) {
  .navbar {
    /* padding: 0.5rem 1rem 0.5rem 1rem; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
  }

  .nav-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .nav-menu-wrapper img:nth-child(2) {
    display: flex;
  }

  .nav-menu-dekstop {
    display: none;
  }

  .hero {
    width: 100%;
    max-width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 0pt;
  }

  .identity {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .job-desk {
    text-align: center;
  }

  .job-desk h1 {
    font-size: 34px;
  }

  .job-desk span {
    font-size: 26px;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-layouts {
    padding: 1rem;
    max-width: 400px;
    height: auto;
  }

  .tech-stack-box {
    display: none;
  }

  .skill-image-box img {
    max-width: 20rem;
  }
}
